@using Bookclub.Models
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.RazorPages;
@using Microsoft.EntityFrameworkCore;


@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bookclub</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Bookclub.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/media.css" asp-append-version="true" />
    <link href='https://fonts.googleapis.com/css?family=Annie Use Your Telescope' rel='stylesheet'>
    <link href="https://fonts.cdnfonts.com/css/brittany-signature" rel="stylesheet" />


   <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <section class="titleSection">
            <div class="imageTitle">

                <img src="~/images/between 2 lines-logos_white.png" />
            </div>
           
           
            <select id="mood" class="moodDropDown"> 
                <option selected disabled>Mood based background color</option>
                <option value="White">Simplicity</option>
                <option value="Blue">Relaxation</option>
                <option value="Grey">Realism</option>
                <option value="Pink">Friendliness</option>
            </select>
            
          

         
        </section>
        <section class="NavigationSection">
            <h2 onclick="openNavigationSide()" class="hamburgerIcon">&#9776;</h2>

            <!-- Icons taken from: https://fontawesome.com/icons/circle-info?s=solid&f=classic-->

            <nav class="nav-side" id="sideNav">
                <a href="javascript:void(0)" class="closeNavButton" onclick="closeNavigationSide()">&times;</a>
                <a class=@ViewData["HomeAct"] href="/Index">Home <i class="fa-sharp fa-solid fa-house"></i></a>
                <a class=@ViewData["MHAct"] href="/Mentalhealth">MentalHealth <i class="fa-solid fa-heart-pulse"></i></a>
                <a class=@ViewData["FAQAct"] href="/FAQ">FAQs <i class="fa-solid fa-person-circle-question"></i></a>
                <a class=@ViewData["TimeLineAct"] href="/booksread">Books read <i class="fa-solid fa-book-open"></i></a>
                <a class=@ViewData["ContactAct"] href="/Contact">Contact <i class="fa-solid fa-envelope"></i></a>
                <a class=@ViewData["AboutAct"] href="/About">About <i class="fa-solid fa-circle-info"></i></a>

                <!--Member pages but the admin can also access these pages. -->
                @if (User.IsInRole("Member") && Context.User.Identity.IsAuthenticated == true || User.IsInRole("Admin") && Context.User.Identity.IsAuthenticated == true)
                {
                    <a class="@ViewData["TimerAct"]" href="/Timer">Timer <i class="fa-solid fa-clock"></i></a>
                    <a class="@ViewData["MeetingsAct"]" href="/Meetings">Meetings <i class="fa-solid fa-phone"></i></a>
                }
               
               

                <!--Admin pages only-->
                @if (User.IsInRole("Admin") && Context.User.Identity.IsAuthenticated == true)
                {
                    <a class="@ViewData["UserManageAct"]" asp-page="/UserManagement">AdminPage <i class="fa-solid fa-users"></i></a>
                    <a class="@ViewData["BooksAct"]" asp-page="/ManageBooks">Manage Books <i class="fa-solid fa-gear"></i></a>
                    <a class="@ViewData["EventsAct"]" asp-page="/AddEvents">Add Event <i class="fa-solid fa-gear"></i></a>
              
                }
                
                <partial name="_LoginPartial" />
               
               
               
           
               
            </nav>
        </section>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footerSection">
        <p class=" CopyRightInfo">&copy; 2022 - Between 2 lines, all rights reserved</p>

        <ul >
            <li><a href="/Privacy">Privacy Policy</a></li>
        </ul>

        <div class="socialsFooter">

            <a href="https://www.instagram.com/" target="_blank">

                <i class="fa-brands fa-instagram fa-2x"></i>
            </a>
            
            <a href="https://www.facebook.com/" target="_blank">

                <i class="fa-brands fa-facebook fa-2x"></i>
            </a>
       
            <a href="https://twitter.com/" target="_blank">

                <i class="fa-brands fa-twitter fa-2x"></i>
                
            </a>
            
            <a href="https://uk.linkedin.com/" target="_blank">

                <i class="fa-brands fa-linkedin fa-2x"></i>

            </a>
        </div>
      


    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/4db57e64af.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>