@page
@model Bookclub.Pages.AddEventsModel
@{

    ViewData["Title"] = "Create Event";
    ViewData["EventsAct"] = "active";

}

<h1> Create a new upcoming event </h1>



<form method="post" class="createEventsForm" asp-asp-page="/AddEvents">




    <label asp-for="@Model.addNewEvent.EventsId"></label>
    <input readonly type="text" asp-for="@Model.addNewEvent.EventsId" />



    <label asp-for="@Model.addNewEvent.NameOfEvent"></label>
    <input type="text" asp-for="@Model.addNewEvent.NameOfEvent" autofocus placeholder="Enter the book name here." />




    <label asp-for="@Model.addNewEvent.DateOfEvent"></label>
    <input type="date" asp-for="@Model.addNewEvent.DateOfEvent" placeholder="Enter the book image URL here." />



    <label asp-for="@Model.addNewEvent.BriefDescription"></label>
    <input type="text" asp-for="@Model.addNewEvent.BriefDescription" placeholder="Enter the image alt description here." />

  

   <input type="submit" class="addEventsSubmit" value="Create Event" />
      

</form>



