@page
@model Bookclub.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
    ViewData["ContactAct"] = "active";
}

<h1>Contact Form</h1>


    <form method="post" id="contactTeam" class="contactForm"> 

        <label asp-for="@Model.subject">Subject</label>
        <input asp-for="@Model.subject"  placeholder="Enter the subject of the email"/>



        <label asp-for="@Model.email">Email</label>
        <input asp-for="@Model.email"  placeholder="Enter your email to send from..." />



        <label asp-for="@Model.body">Your message</label>
        <div class="bodyInput">
            <textarea asp-for="@Model.body" max="500" rows="5" cols="50" placeholder="Describe your issue here."></textarea>
        </div>

        <input type="submit"/>
    </form>



        
       
    
    <br />
    @if (Model.checker)
    {
        <div class="alert alert-success" role="alert">
            Your email has successfully been sent!
        </div>
        
    }
   

</div>

